.chooser-container {
    margin: auto;
    width: 70%;

    .aspects-container {
        float: left;
        text-align: left;
        width: 30%;

        .upper-options {
            font-size: 25px;
            width: 100%;
        }

        .get-container {
            width: 100%;

            .get-cleats-button {
                margin: auto;
                width: 80%;
                left: 50%;
                text-align: center;
                justify-content: center;
                padding: 5px;
                background-color: blue;
                color: white;
                font-size: 28px;
                margin-top: 40px;
                border-radius: 25px;
                border: 1px solid black; 
                cursor: pointer;
            }
        }

        .reset-container {
            margin-top: 20px;

            .reset-button {
                justify-content: center;
                width: 25%;
                margin: 20px 20px 10px 10px;
                color: blue;
                background-color: white;
                border-radius: 20px;
                border: 1px solid blue;
                padding: 10px;
            }
        }

    }

    .results-section {
        float: right;

        .cleat-item {
            padding: 30px 50px 50px 50px;
            text-align: left;
            border: 1px solid gray;
            border-radius: 10px;
            margin-bottom: 25px;
        }

        .cleat-label {
            display: inline-block;
            padding-left: 20px;
            font-size: 18pt;
        }

        .cleat-image {
            float: left;
        }
    }

}